body {
    background: #eeedec;
    letter-spacing: 0.2em;
    font-size: 0.8em;
}

.card {
    margin-top: 10px;
}

.container {
    max-width: 400px;
}
.details {
    background: white;
    border-radius: 5px;
}

.details h5 {
    font-size: 3em;
    font-weight: 700;
}

.display-5 {
    font-size: 6em;
    font-weight: 500;
}
.description {
    font-size: 1rem;
}

.dnone {
    display: none;
}